.icon{
	max-width: 50%;
	max-height: 50%;
}

.topnav{
	border-radius: 0px;
}

.carousel-images{
	max-height: 700px;
}

.card-Image{
	max-height: 100px;
	max-width: 100px;
}

.top-rated-title{
	min-height: 40px;
}

.top-rated-row{
	padding-right: 6em;
	padding-left: 6em;
}